{% extends 'base.html.twig' %}

{% block title %}Посещения{% endblock %}
{% block breadcrumbs %} <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
            class="mr-2"><a href="{{ path('app_home') }}">Главная</a></span> <span>Записи</span></p> {% endblock %}
{% block body %}
    <style>
        * {
            box-sizing: border-box;
        }

        #employeeRecords {
            border-collapse: collapse;
            width: 80%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

        #employeeRecords th, #employeeRecords td {
            text-align: left;
            padding: 12px;
        }

        #employeeRecords tr {
            border-bottom: 1px solid #ddd;
        }

        #employeeRecords tr.header, #employeeRecords tr:hover {
            background-color: #f1f1f1;
        }
    </style>

    <h2 align="center">Мои записи</h2>
    <div  style="width: 80%; margin-left: 20%">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-2">{{ form_widget(form.fullName) }}</div>
                <div class="col-md-2">{{ form_widget(form.service) }}</div>
                <div class="col-md-2">{{ form_widget(form.dateTime)}}</div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Фильтровать</button>
                    <a href="{{ path('app_employee_records') }}" class="btn btn-outline-secondary">Сбросить</a>
                </div>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

    <table align="center" id="employeeRecords">
        <thead style="width: 80%">
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'ФИО мастера', 'fullName') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Имя услуги', 'service') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Дата', 'dateTime') }}</th>
            <th></th>
        </tr>
        </thead>
        {% for record in pagination %}
            <tr>
                <td>{{ record.full_name }}</td>
                <td>{{ record.service_name }}</td>
                <td>{{ record.date_time }}</td>
                <td><a href="{{ path('app_visit_move', {'id' : record.id}) }}"></a> </td>
            </tr>
        {% endfor %}
    </table>

    <div class="navigation" style="margin-left: 50%; font-size: 30px">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
